attrs==22.2.0
aws-encryption-sdk==3.1.0
boto3==1.26.65
botocore==1.29.65
cachetools==5.3.0
certifi==2022.12.7
cf-extension-core==0.1.dev20230209203344
cffi==1.15.1
charset-normalizer==3.0.1
cloudformation-cli-python-lib==2.1.15
cryptography==39.0.0
idna==3.4
jmespath==1.0.1
ms-graph-client==0.1.7
pycparser==2.21
python-dateutil==2.8.2
requests==2.28.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.14
wrapt==1.14.1
